*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: unset;
}

body{
    margin: 0;
    position: absolute;
}

iframe {
    display: block;
}

.header1{
    display: none;
} 

.rustica{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 21px;
    text-align: center;
    margin-block-end: 0.5em;
}

.klein{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.textweißklein{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.preis{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #737373;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.header {
    position: absolute;
    width: 95vw;
    margin: 1em 2.5vw;
    z-index: 1;
}

.headerm img {
    width: 2em;
    height: 2em;
    filter: brightness(0) invert(1);
}

.headerm{
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}

.header1 {
    position: absolute;
    width: 95vw;
    margin: 1em 2.5vw;
    z-index: 1;
}

.warenkorb{
    width: 17px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.headerm1{
    display: flex;
    margin: 0 1em 0 1em;
}

.spacer {
    flex-grow: 1;
}

.headerdestop{
    display: flex;
    gap: 60px;
    margin-right: 20px;
}

.logosh{
    height: 35px;
    width: 35px;
    filter: brightness(0) invert(1);
}

.herkunftunderline{
    text-decoration: underline;
}

.shoph{
    text-decoration: underline;
}

.text{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    display: block;
}

@media (min-width: 992px) {
    .navigation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 10%;
        color: white;
        gap: 50px;
        z-index: 1
    }


.header{
    display:none;
}

.header1{
    display: unset;
}
}
.footer1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 1em;
}

.footer2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0.3em 0 2em 0;
}

.footer{
    background-color: black;
    padding: 4em 2em;
}

.ID{
    min-width: 140px;
}

.oben1{
    min-width: 140px;
}

.zeile1{
    display: flex;
    gap: 50px;
    margin-bottom: 2em;
}

.zeile2{
    display: flex; 
    gap: 50px; 
    margin-bottom: 2em;
}

.logo{
    width: 2em;
    height: 2em;
    filter: brightness(0) invert(1);
}

.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.logos{
    height: 5vh;
    width: auto;
    display: block;
    filter: brightness(0) invert(1);
    text-align: left;
}

@media (min-width: 992px) {

    .footer{
        display: block;
        padding: 4em 6em;
    }

    .footer1{
        margin-top: 0;
    }

    .logos{
        max-width: 80vw;
        margin-bottom: 1em;
    }

    .footerflex{
        max-width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .zeile1{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .zeile2{
        display: flex;
        flex-direction: row-reverse;
        gap: 20vw;
    }


}

.white-link {
    color: white;
    text-decoration: none;
}
