.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dreitassen {
    object-fit: cover;
    width: 100vw;
    height: 75vh;
    filter: brightness(0.7);
}

.fakebutton{
    position: absolute;
    display: block;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 50px 15px 50px;
    color: white;
    text-decoration: none;
    background-color: #1A1A1A;
    border-radius: 5px;
}

.fakebutton2{
    display: inline-block;
    padding: 15px 30px 15px 30px;
    color: white;
    text-decoration: none;
    background-color: #1A1A1A;
    border: solid white;
    border-radius: 5px;
    margin: 3em 0 3.5em 0;
}

.fakebutton21{
    display: flex;
    justify-content: center;
}

.fakebutton3{
   
    display: block;
    padding: 15px 50px 15px 50px;
    color: white;
    text-decoration: none;
    background-color: #1A1A1A;
    border-radius: 5px;
    margin: 3em 0 3.5em 0;
}

.fakebutton-interactions:hover {
    background-color: #3A3734;
}

.fakebutton-interactions:focus {
    outline: 2px white dashed;
}

.fakebutton-interactions:active {
    background-color: #D7BE9D;
    outline: none;
}


.adresse{
    display: flex;
    justify-content: flex-start;
    gap: 3em;
}

.text1 img{
    height: auto;
    width: 65vw;
    padding-top: 2vh;
}

.text1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 4em 1.5em 0em 1.5em;
}

.text2 img{
    height: auto;
    width: 65vw;
    padding-top: 2vh;
}

.text2{
    display: flex;
    flex-wrap: wrap;
    margin: 4em 1.5em 4em 1.5em;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 0.5em;
}

h2w{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 34px;
    color: #FFFFFF;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 1em;
}

pw{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.dunkel{
    background-color:#1A1A1A;
}

.white{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 34px;
    color: #FFFFFF;
    margin: 1.5em 0 1.5em 0;
}

.bildkaffee{
    height: 25vh;
    background-color: white;
}

.bildkaffee2{
    height: 45vh;
    object-fit: contain;
    margin: 2em 0 2.5em 0;
}

.icons img{
    height: 2vh;
    width: auto;
    filter: brightness(0) invert(1);
}

.product{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dunkel{
    padding: 20px;
}

.bildherkunft img{
    object-fit: cover;
    width: 100vw;
    height: 50vh; 
    filter: brightness(0.5);
    margin-bottom: 3.5em;
}

.bildherkunft{
    position: relative;
    text-align: center;
    color: white;
    min-height: 230px;
}

.mehr{
    color: white;
    text-decoration: none;
}

.inhalt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridsymbole{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap:5px;
}

.grid-item{
    margin: 0 5vw;
    text-align: center;
}

#kommvorbei{
    margin: 0em 0em 1em 0.5em;

}

@media (min-width: 350px) { 
    .dreitassen{
        /* height: 75vh; */
    }
 }

@media (min-width: 992px) {
    .dreitassen{
        height: 65vh;
    }
}