<footer class="footer">
    <img src="../icons/Logo1.svg" class="logos">
    <div class="footerflex">
        <div class="logoschrift"> 
            <div class="footer1">Rustica</div>
            <div class="footer2">Café & Rösterei</div>
        </div>
            <div class="zeile1">
                <div class="text oben1">Komm uns besuchen!<br>Fraunhoferstr. 13, Kiel</div>
                <div class="text oben2">Mo – Fr 8–18 Uhr<br>Sa 11–18 Uhr</div>
            </div>
            <div class="zeile2">
                <div class="ID">
                    <a href="../sub-page/Kontakt.html" class="text">Impressum</a>
                    <a href="../sub-page/Impressum.html" class="text">Datenschutz</a>
                </div>
                <div class="CSH">
                    <a href="../sub-page/dasCafe.html" class="text">Café</a>
                    <a href="../sub-page/shop.html" class="text">Shop</a>
                    <a href="../sub-page/dieHerkunft.html" class="text">Herkunft</a>
                </div>
            </div>
    </div>
</footer>