<footer class="footer">
    {{> logo }}
    <div class="footer1">Rustica</div>
    <div class="footer2">Café & Rösterei</div>
    <div class="footer3">
        <div class="links">
            <div class="text oben1">Komm uns besuchen!<br>Fraunhoferstr. 13, Kiel</div>
            <div class="text">Impressum</div>
            <div class="text">Datenschutz</div>
        </div>
        <div class="rechts">
            <div class="text oben1">Mo – Fr 8–18 Uhr<br>Sa 11–18 Uhr</div>
            <div class="text">Café</div>
            <div class="text">Shop</div>
            <div class="text">Herkunft</div>
        </div>
    </div>
</footer>