<header class="header">
    <div class="headerm">
        <img src="../icons/Logo1.svg" class="logos">
        <img src="../icons/Burger Menu.svg" alt="Menue">
    </div>
</header>



<!-- <nav class="navigation">
<img src="../icons/Logo.png" alt="Logo der Rösterei">
<div class="navigation">
    <a href="../sub-page/dasCafe.html">das Cafe</a>
    <a href="../sub-page/dieHerkunft.html">Herkunft</a>
    <a href="../sub-page/shop.html">Shop</a>
</div>
<img src="../icons/Warenkorb.png" alt="Warenkorb">
</nav> -->
