<header class="header1 {{classname}}">
    <div class="headerm1">
        <img src="../icons/Logo1.svg" class="logosh">
        <div class="spacer"></div>
        <div class="headerdestop">
            <a class="white-link cafeh" href="../sub-page/dasCafe.html">Cafe</a>
            <a class="white-link herkunfth" href="../sub-page/dieHerkunft.html"><span class="herkunftunderline">Herku</span>nft</a>
            <a class="white-link shoph" style="text-decoration: underline;" href="../sub-page/shop.html">Shop</a>
        </div>
        <a href="../sub-page/Warenkorb.html"><img src="../icons/Warenkorb.svg" alt="Warenkorb" class="warenkorb"></a>
    </div>
</header>