<header class="header1">
    <div class="headerm1">
        <img src="../icons/Logo1.svg" class="logosh">
        <div class="spacer"></div>
        <div class="headerdestop">
            <div class="cafeh">das Cafe</div>
            <div class="herkunfth"><span class="herkunftunderline">Herku</span>nft</div>
            <div class="shoph">Shop</div>
        </div>
        <img src="../icons/Warenkorb.svg" alt="Warenkorb" class="warenkorb">
    </div>
</header>